*.1 linguist-vendored
*.2 linguist-vendored
*.3 linguist-vendored
*.4 linguist-vendored
*.5 linguist-vendored
*.6 linguist-vendored
*.7 linguist-vendored
*.8 linguist-vendored
*.9 linguist-vendored
*.10 linguist-vendored
*.11 linguist-vendored
*.12 linguist-vendored
*.15 linguist-vendored
*.16 linguist-vendored
*.17 linguist-vendored
*.18 linguist-vendored
*.19 linguist-vendored
*.20 linguist-vendored
*.21 linguist-vendored
*.22 linguist-vendored
*.23 linguist-vendored
*.24 linguist-vendored
*.pickle linguist-vendored